.p{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    margin: 80px 500px;     /* T/B  L/R*/
    position: relative;
    animation-name: abc;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.green{
    height: 100px;
    width: 100px;
    background-color: green;
    line-height: 100px;
    text-indent: 20px;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
}
.red{
    height: 100px;
    width: 100px;
    background-color: red;
    line-height: 100px;
    text-indent: 20px;   
    font-weight: bold; 
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.blue{
    height: 100px;
    width: 100px;
    background-color: blue;
    line-height: 100px;
    text-indent: 20px;  
    font-weight: bold;  
    position: absolute;
    top: 0px;
    right: 0px;
}
.yellow{
    height: 100px;
    width: 100px;
    background-color: yellow;
    line-height: 100px;
    text-indent: 20px;  
    font-weight: bold;  
    position: absolute;
    bottom: 0px;
    right: 0px;
}

@keyframes abc{
    0%{
        transform: rotateZ(0deg)
    }
    100%{
        transform: rotateZ(360deg)
    }
}
