.common{
    height: 190px;
    width: 190px;
    border-radius: 200px;
    display: inline-block;  
    font-weight: bold;
    font-size: xx-large;
    line-height: 190px;
    text-indent: 83px;
    animation-name: abc;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.green{
    background-color: green;
    animation-delay: 0s;
}
.red{
    background-color: red;
    animation-delay: 0.1s;
}
.blue{
    background-color: blue; 
    animation-delay: 0.2s;
}
.yellow{
    background-color: yellow;
    animation-delay: 0.3s;
}
.magenta{
    background-color: magenta;
    animation-delay: 0.4s;
}
.brown{
    background-color: green;
    animation-delay: 0.5s;
}

@keyframes abc{
    0%{
        transform: translateY(0px);
        opacity: 0;
    }
    100%{
        transform: translateY(240px);
        opacity: 1;
    }
}
