h1{
    color: #000;
  }

ul{
    color: #000;
    list-style-type: square;
  }

#tutorial{
  height: 1500px;
  border: 2px solid white;
  background-color: burlywood;
 } 

#Intro1{
    background-color: black;
    border:3px solid #000;
    height: 500px;
    font-size: x-large;
    padding-top: 50px;
    margin-bottom: 100px;
    text-align: center;
  }  

#Intro1:hover{
  color: white;
}   

#py,#html,#css,#js,#sql{
  display: inline-block;
  height: 200px;
  width: 200px;
  color: black;
  font-size: large;
  font-weight:bold;
  margin-left: 23px;
  background-color: pink;  
  border:3px solid #000;
  text-align: center;
  line-height: 100px;
}
a[href="register.html"]{
  display: block;
  margin: 100px;
} 






