/* Base styles for larger screens */
/* Media query for screens with a maximum width of 768px (typical for mobile devices) */

@media screen and (max-width: 768px) {
    /* Mobile-specific styles go here */

    /* Example: Make the font size smaller for mobile */
        body {
                font-size: 16px;
            }

    /* Example: Adjust padding or margins for smaller screens */
            .img1 {
                width: 280px;
            }
            #head{        
            height: 80px;   
            }  

            #CourceHead{        
            height: 100px;  
            margin-top: 20px; 
            text-emphasis: none;
            } 

            body{  
            height: 130px;  
            margin-top: 180px;  
            padding: 30px;    
            } 

            #Intro1{
            height: 1070px;
            font-size: x-large;
            padding-top: 50px;
            }

            #py,#html,#css,#js,#sql{
                height: 130px;
                margin-left: 40px;
            }
    }