
.image-container #mainImage {
    transition: transform 1.5s ease-in-out;
}

.image-container img[src="./picture_1.png"]{
    width: 100%;
}

#Intro1 {
    text-align: center;
    background-color: rgb(104, 149, 177);
    border-radius: 2px;
}

#Intro1 p {
    margin: 50px 0;
    line-height: 1.8;
    font-size: 18px;
}

#clist {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

#clist div {
    padding: 20px 30px;
    background-color: #ddd;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    text-align: center;
    min-width: 150px;
}

#clist div:hover {
    transform: scale(1.05);
    background-color: #cccccc;
}

#clist div a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.end {
    margin-top: 40px;
    text-align: center;
}

.end1 a {
    display: inline-block;
    margin: 20px;
    padding: 10px 30px;
    background-color: rgb(58, 49, 82);
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.end1 a:hover{
    background-color: #084b77;
    border-radius: 20px;
}

.followUS {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #222;
}

.fa {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
    background-color: white;
    color: black;
}

/* Testimonial Section */
#testimonials {
    text-align: center;
    margin-top: 50px;
    padding: 40px;
    background-color: #b69d9d;
    position: relative;
    overflow: hidden;
}

#testimonials h2 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 30px;
}

.testimonial-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial {
    margin-bottom: 20px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    text-align: left;
    min-width: 300px;
    margin-right: 20px;
}

.testimonial p {
    font-size: 18px;
    color: #ddd;
    margin-bottom: 10px;
}

.testimonial span {
    font-weight: bold;
    color: #fff;
}



@media (max-width: 600px) {
    #clist div {
        min-width: 100%;
    }

    .image-container #mainImage {
        max-width: 70%;
        transition: transform 1.5s ease-in-out;
    }
}

